:root{
    --hue:200;
    --saturation:50%;
    --font-color:hsl(var(--hue),var(--saturation),75%);
    --background-color:hsl(var(--hue),var(--saturation),25%)
}

body{
    background-color: var(--background-color);
    margin: 0;
    overflow: hidden;
}

.paddle{
    --position:50;      /* so that we can move it up and down */

    position: absolute;
    height:10vh;
    width:1vh;
    background-color: var(--font-color);
    top:calc(var(--position)*1vh);             /* thats a cool way to put it */
    transform: translateY(-50%);    /* to make sure that the corner is not at the centre, but the centre itself */

}
.right{
    right:1vw;      /*  basically 1vw from the right and sll down also */
}

.left{
    left:1vw;
}

.ball{
    --x:50;          /* so that we can move the ball in fact */
    --y:50;

    position: absolute;     
    height:2vh;
    width:2vh;
    background-color: var(--font-color);
    top:calc(var(--y)*1vh);
    left:calc(var(--x)*1vw);
    border-radius: 50%;
    transform: translate(-50%,-50%); 
}

.score,.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--font-color);
    font-family: monospace;
}

.score >*{
    padding: 0 1vh;
    margin: 1vh 0;
    
    flex-grow: 1;        /* so that both sides of the score are of the same length */
    flex-basis: 0;      /*  to make sure that the length of each part is just the text size */
}

.score> :first-child{
    text-align: end;
    border-right: 0.5vh solid var(--font-color);
}

